<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--开启注解扫描-->
    <context:component-scan base-package="com.maoyan.controller"/>

<!--    配置视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!--        视图的路径-->
        <property name="prefix" value="/WEB-INF/pages/"/>
<!--        视图的后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>


<!--    配置类型转换器-->
    <bean id="conversionServiceFactoryBean" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.maoyan.utils.StringToDate"></bean>
            </set>
        </property>
    </bean>

<!--    开启MVC的注解支持-->
    <!--这里的值就是类型转换器的id-->
    <mvc:annotation-driven conversion-service="conversionServiceFactoryBean"/>

</beans>