<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">
<!-- 配置servlet -->
<!-- 配置servlet路径 -->
  <servlet>
  <servlet-name>myy</servlet-name>
  <!-- 包名+类名 -->
  <servlet-class>com.maoyan.Servlet.MyServlet</servlet-class>
  </servlet>
  <!-- 配置访问方式 -->
  <servlet-mapping>
  <servlet-name>myy</servlet-name>
  <url-pattern>/myy</url-pattern>
  </servlet-mapping>
</web-app>