<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- id 表示获取到对象标识
    class 创建哪个类的对象
    -->
    <bean id="user" class="com.maoyan.pojo.User"/>
    <bean id="loginServiceimpl" class="com.maoyan.service.impl.LoginServiceImpl"/>
    <bean id="logindao" class="com.maoyan.dao.LoginDao" abstract="true"/>
</beans>